<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 style="text-align: center">绿色大熊猫——亚洲环保知识分享会</h1>
<div style="width: 50%;margin-left: 25%;">
    <h3>活动简介:</h3>
    <p style="line-height: 30px">绿色大熊猫-亚洲环保知识分享会是一次以普及深化全民环保意识为主旨， 倡导小行动带来大改变的主题论坛。分享会是由民间自发性环保支持者发起，并
        得到了亚洲各国环保领域专家的积极响应与支持。会议期间将会阐述当今社会的 环保现状，分享成熟的绿色教育理念，成熟的环境治理经验以及生态友好型社会 的建设概念。
        当极地已不再是净土，海洋的平衡被打破，冰川加速融化，极端天气频发， 生物多样性减少，我们是时候该停下来思考生存这一命题了。环保公益的路还很 长，而唤醒公众意识、树立环保价值观是我们的责任，更是这场分享会的意义所 在。
        而随着社会快速发展带来的污染排放及生态破坏，应对气候变化、实现可持 续发展以及建设生态友好型社会都已成为企业和各级政府的必修课题。也成为了 全亚洲乃至全世界国家需要共同解决的挑战。经因此我们更需要携手应对、分享
        知识与经验，共同维护全球生态环境安全。
        为了广泛提高全民环保意识和进一步推广环保知识，我们还将创建绿色大熊 猫环保公益网站，并在分享会当天邀请嘉宾们共同上台为创办网站做揭幕仪式。
        我们相信，分享会的创立，能够加快各国间不同行业在环保领域的合作，为 全人类的环保事业做出贡献。
        我们诚挚欢迎各国协会和企业代表、学术界和媒体人士、个人或志愿者等积 极参与论坛，期待与各方一道努力，把亚洲环保知识分享会打造成为推动全民参 与环保的公益平台。
    </p>
    <br>
    <h5>主办方: 中国国际友好联合会、日中平和友好联络会、星际文化集团 、中国建材集团、华彬集团  </h5>
    <h5>时间: 2018 年 10 月 26 日 9:00-16:30 </h5>
    <h5>地点: 中国北京-华彬歌剧院</h5>
    <h3>演讲嘉宾:</h3>
    <h5>§ 世界卫生组织专员-Dr. Mukundan Pillay 先生 <br>§ 中国建材集团代表专家-胡芝娟女士<br> § 中国重庆交通大学副教授- 陈朝华博士<br> § 香港政府环保部门专家-陈咏梅博士
        <br>§ 中日友好环境保护中心日本专家-染野宪治先生 <br>§ 泰国正大集团 RISC 实验室科研代表- Vasuta Chan 先生</h5>
    <h3>活动流程:</h3>
    <table style="border-collapse: collapse;width: 100%;" border="1px solid #aaa;">
        <tbody>
        <tr>
            <th style="width: 100px">时间</th>
            <th>环节</th>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">0900-1000</td>
            <td>会议签到</td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1000-1005</td>
            <td>分享会正式开始、主持人开场互动</td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1005-1010</td>
            <td>嘉宾致辞 1</td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1010-1015</td>
            <td>嘉宾致辞 2</td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1015-1030</td>
            <td>开幕仪式暨绿色大熊猫网站揭幕仪式</td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1030-1100</td>
            <td>专题演讲 1:陈志坚副教授-"攻克世界难题-沙漠变绿洲不再是梦想"</td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1100-1110
            </td>
            <td>视频分享 1</td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1110-1140</td>
            <td>专题演讲 2:胡芝娟专家-"水泥生产中消纳的生活垃圾、工业废渣等"</td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1140-1210</td>
            <td>专题演讲 3:陈咏梅博士-"食物垃圾"
            </td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1210-1400</td>
            <td>午餐及休息</td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1400-1405
            </td>
            <td>主持人开场互动
            </td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1405-1410
            </td>
            <td>嘉宾致辞 3</td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1410-1420</td>
            <td>成立环保基金仪式</td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1420-1450</td>
            <td>专题演讲 4:Dr. Pillay-"城市化进程面临的环境健康挑战"</td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1450-1500
            </td>
            <td>视频分享 2
            </td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1500-1530</td>
            <td>茶歇及互动交流时间</td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1530-1600
            </td>
            <td>专题演讲 5:日本环保专家染野宪治-"零垃圾小镇-德岛上胜町小镇"
            </td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1600-1630

            </td>
            <td>专题演说 6:Vasuta Chan-"研究如果能改善房地产行业"
            </td>
        </tr>
        <tr>
            <td style="width: 100px;text-align: center">1630

            </td>
            <td>分享会结束
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>